<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p id="demo"></p>
    <img src = "images/600px-orange-cat.jpg" />
<script>
  document.getElementById("demo").innerHTML = "Feed the kitties at" + Date();
</script>
  </body>
</html>
